<div class="col-12">
    {{ form_errors(flatReservationInfos) }}

    {{ form_start(flatReservationInfos) }}
    {{ form_row(flatReservationInfos.start) }}
    {{ form_row(flatReservationInfos.finish) }}
    {{ form_row(flatReservationInfos.reservedSlots) }}


    <div class="form-group">
        <button class="btn btn-success">{{ button_label|default('złóż zamówinie') }}</button>
    </div>
    {{ form_end(flatReservationInfos) }}
</div>