{% extends 'base.html.twig' %}

{% block title %}Hello FlatController!{% endblock %}

{% block body %}

    <table class="table">
        <thead>
        <tr>
            <th scope="col">Liczba pozycji</th>
            <th scope="col">Liczba dostepnych miejsc</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>

        <tr>
            <th scope="row">{{ flats.id }}</th>
            <td>{{ flats.slots }}</td>
        </tr>

        </tbody>
    </table>
    <div class="col-12">
        {{ form_errors(flatReservationInfos) }}

        {{ form_start(flatReservationInfos) }}
        {{ form_row(flatReservationInfos.start) }}
        {{ form_row(flatReservationInfos.finish) }}
        {{ form_row(flatReservationInfos.slots) }}

        {{ form_row(flatReservationInfos.save, { 'label': 'Submit me' }) }}
        {{ form_end(flatReservationInfos) }}
    </div>
{% endblock %}
